* {
  margin: 0;
  padding:0;
}

body {
  background-color: rgb(227,226,221);
  height: 1200px;
  width: 1035px;
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  background-color: #575757;
  height: 1200px;
  width: 1035px;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.navigation-bar {
  padding-top: 15px;
}

.blank-top-bar {

}

.imdb_logo {
  width: 101px;
  height: 49px;
  padding: 15px;
}

.imdb_logo_image {
  height: 49px;
  width: 101px;
}

.details-top-bar {
  background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
  border-top: 1px solid #444444;
  color: #fff;
  font: 10pt Verdana, Arial, sans-serif;
  height: 83px;
  /*margin: 15px auto 0 0;*/
  padding: 0;
  position: relative;
  width: 1035px;
  z-index: 200;
}

.nav_bar_content {
  margin-top: 8px;
}

.upper_nav_content {
  width: auto;
  height: 35px;
}

.search_movie_bar {
  width: 419px;
  height: 15px;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

.search_category {
  width: 100px;
  height: 29px;
  margin-left: 1px;
}

.search_category:hover {
  background-color: #d1d2d3;
}

.search_icon {
  margin-left: 1px;
  border-radius: 0 5px 5px 0;
  opacity: 0.8;
  height: 28px;
  width: 30px;
  filter: alpha(opacity=80);
}

.imdb_pro_icon {
  padding: 8px;
  margin-left: 25px;
}

.segment_line {
  padding: 8px;
  font-style: normal;
  color: #888888;
  font-size: 11px;
}

.help_link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  margin: 0 15px 0 3px;
}

.help_link:hover {
  text-decoration: underline;
}

.facebook_icon, .twitter_icon, .instagram_icon {
  border-radius: 50%;
  margin-right: 5px;
  width: 31px;
  height: 31px;
}

.lower_nav_content {
  width: auto;
  height: 34px;
}

.dropdown_nav_categories {
  width: 125px;
  height: 40px;
  border-left: 1px solid darkgray;
  padding-left: 18px;
  border-width: 1px;
  -moz-border-image: -moz-linear-gradient(top, #888888 0%, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #888888 0%, #000000 100%);
  border-image: linear-gradient(to bottom, #888888 0%, #000000 100%);
  border-image-slice: 1;
}

.dropdown_nav_categories a {
  text-decoration: none;
  color: white;
}

.dropdown_nav_categories a:hover {
  text-decoration: underline;
}

.category_watchlist a{
  line-height: 35px;
  color: #f5de50
}

.category_watchlist {
    width: 90px;
}

.facebook_sign_in {
  padding-left: 18px;
  border-width: 1px;
  border-left: 1px solid darkgray;
  -moz-border-image: -moz-linear-gradient(top, #888888 0%, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #888888 0%, #000000 100%);
  border-image: linear-gradient(to bottom, #888888 0%, #000000 100%);
  border-image-slice: 1;
}

.facebook_sign_in a {
  color: white;
  text-decoration: none;
  background-color: #3B5998;
  border: 1px solid #3B5998;
  padding: 3px 8px 3px 8px;
  font-size: 78%;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
}

.lower_content {
  min-height: 50%;
  background-color: white;
}

.lower_content_left {
  height: 600px;
  width: 655px;
}

.lower_content_right {
  height: 600px;
  width: 377px;
  border-left: 3px solid darkgray;
}

.movie_head {
  height: 159px;
  background-color: #333;
  display: none;
}


.movie_menu a {
  text-decoration: none;
  color: silver;
  font-size: 80%;
  margin: 0 10px;
  word-spacing: 4px;
}

.movie_menu {
  padding: 15px 20px 0 10px
}

.semi_flag_icon {
  width: 75px;
  height: 126px;
}

.movie_details {
  width: 355px;
  height: 126px;
}

.movie_title {
  font: 36px Arial,sans-serif;
  font-weight: normal;
  line-height: 110%;
  width: 355px;
  height: auto;
  margin: 0px;
  color: #fff;
  margin-top:25px;
}

.movie_year {
  color: silver;
  font-family: Arial;
  font-size: 25px;
  line-height: 100%;
}

.movie_sub_details a {
  text-decoration: none;
  margin: 0 5px;
  color: silver;
  font-size: 70%;
  font-weight: 500;
}

.movie_rating {
  height: auto;
  width: auto;
  padding: 15px 15px 35px 50px;
}

.movie_rating img{
  width: 28px;
  height: 28px;
  padding: 12px 5px 0 0;
}

.rating_value {
  height: 37px;
  width: 50px;
  padding: 7px 0 0 0;
  border-right: 1px solid gray;
}

.rating_value .max_rating {
  color: #6b6b6b;
  font-size: 10px;
}

#movie_rating {
  font-size: 150%;
  color: white;
}

#movie_votes {
  font-size: 60%;
  font-weight: 500;
  color: silver;
}
